{{getCareerInfo|json}}
<button type="submit" (click)="SaveCareerInfo()"> Get </button>
 
<mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>Career Details</mat-card-title>
       
    </mat-card-header>
     
    <mat-card-content>
      <form   [formGroup]="careerDetails" >
        <!-- <div class="form-group"> -->
            <mat-form-field>

                <mat-label> Country </mat-label>
                <mat-select   formControlName="Country" required>
                  <mat-option>-- Select Any --</mat-option>
                  <mat-option value="4"> Afghanistan </mat-option>
                  <mat-option value="1">Albania </mat-option>
                  <mat-option value="2">Algeria </mat-option>
                  <mat-option value="3">India </mat-option>
                </mat-select>
                <mat-error>  
                    <span   *ngIf="careerDetails.controls['Country'].hasError('required')&&
                    (careerDetails.controls.Country.touched ||careerDetails.controls['Country'].dirty||
                     isSubmitted)">
                    Country is required </span>  
                </mat-error>
              </mat-form-field>           
          <!-- </div> -->
          <div class="form-group">
              <mat-form-field class="demo-full-width">
                  <mat-label> State </mat-label>
                  <mat-select  class="form-control"   formControlName="State" required>
                    <mat-option>-- Select Any --</mat-option>
                    <mat-option value="4"> Andaman and Nicobar Islands </mat-option>
                    <mat-option value="1">Chandigarh </mat-option>
                    <mat-option value="2">Uttaranchal </mat-option>
                    <mat-option value="3">Uttar Pradesh </mat-option>
                  </mat-select>
                  <mat-error>  
                      <span   *ngIf="careerDetails.controls['State'].hasError('required')&&
                      (careerDetails.controls.State.touched ||careerDetails.controls['State'].dirty|| isSubmitted)">
                      State is required </span>  
                  </mat-error>
                </mat-form-field> 
            </div>
            <div class="form-group">
                <mat-form-field class="demo-full-width">
                    <mat-label> City </mat-label>
                    <mat-select  class="form-control"   formControlName="City" required>
                      <mat-option>-- Select Any --</mat-option>
                      
                      <mat-option value="1"> Akkalkot </mat-option>
                      <mat-option value="2"> Akola </mat-option>
                      <mat-option value="3">Ahmednagar </mat-option>
                      <mat-option value="4"> Pune </mat-option>
                      <mat-option value="5"> Solapur </mat-option>
                    </mat-select>
                    <mat-error>  
                        <span   *ngIf="careerDetails.controls['City'].hasError('required')&&
                        (careerDetails.controls.City.touched ||careerDetails.controls['City'].dirty|| isSubmitted)">
                             
                        City is required </span>  
                    </mat-error>
                  </mat-form-field> 
              </div>
              <div class="form-group">
                  <mat-form-field class="demo-full-width">
                      <input matInput placeholder="Pincode" formControlName="Pincode">
                      <mat-error>  
                          <span   *ngIf=" careerDetails.controls['Pincode'].hasError('required')&&
                          (careerDetails.controls.Pincode.touched ||careerDetails.controls['Pincode'].dirty|| isSubmitted)">
                              Pincode is required.  </span>  
                      </mat-error>
                    </mat-form-field> 
                </div>
                <div class="form-group">
                    <mat-form-field class="demo-full-width">

                        <mat-label> Highest Degree </mat-label>
                        <mat-select  class="form-control"   formControlName="HighestDegree" required>
                          <mat-option>-- Select Any --</mat-option>
                          
                          <mat-option value="1"> Post Graduate </mat-option>
                          <mat-option value="2"> PG Diploma </mat-option>
                          <mat-option value="3">Diploma </mat-option>
                          <mat-option value="4"> Certificate </mat-option>
                          <mat-option value="5"> Integrated </mat-option>
                        </mat-select>
                        <mat-error>  
                            <span   *ngIf="careerDetails.controls['HighestDegree'].hasError('required')&&
                            (careerDetails.controls.HighestDegree.touched ||careerDetails.controls['HighestDegree'].dirty|| isSubmitted)">
                                                                Highest Degree is required.  </span>  
                        </mat-error>
                      </mat-form-field> 
                  </div>


                  <div class="form-group">
                    <mat-form-field class="demo-full-width">

                        <mat-label> Bachlor Degree </mat-label>
                        <mat-select  class="form-control"   formControlName="BachlorDegree" required>
                          <mat-option>-- Select Any --</mat-option>
                          
                          <mat-option value="1"> BA </mat-option>
                          <mat-option value="2"> BDS </mat-option>
                          <mat-option value="3">Diploma </mat-option>
                          <mat-option value="4"> Certificate </mat-option>
                          <mat-option value="5"> Integrated </mat-option>
                        </mat-select>
                        <mat-error>  
                            <span   *ngIf="careerDetails.controls['BachlorDegree'].hasError('required')&&
                            (careerDetails.controls.BachlorDegree.touched ||careerDetails.controls['BachlorDegree'].dirty|| isSubmitted)">
                            Bachlor Degree is required.  </span>  
                        </mat-error>
                      </mat-form-field> 
                  </div>
                  <div class="form-group">
                      <mat-form-field class="demo-full-width">Employeed In

                          <input matInput placeholder="Employeed In" formControlName="Emplyeed">
                          <mat-error>  
                              <span  *ngIf="careerDetails.controls['Emplyeed'].hasError('required')&&
                              (careerDetails.controls.Emplyeed.touched ||careerDetails.controls['Emplyeed'].dirty|| isSubmitted)">
                                                                  Employeed In required.  </span>  
                          </mat-error>
                        </mat-form-field> 
                    </div>
                    <div class="form-group">
                        <mat-form-field class="demo-full-width">

                            <mat-label> Occupation</mat-label>
                            <mat-select  class="form-control"   formControlName="Occupation" required>
                              <mat-option>-- Select Any --</mat-option>
                              
                              <mat-option value="1">  Cloud architect</mat-option>
                              <mat-option value="2">  IT consultant</mat-option>
                              <mat-option value="3">  Software engineer</mat-option>
                              <mat-option value="4">   Web developer</mat-option>
                              <mat-option value="5">Information technology vendor manager   </mat-option>
                            </mat-select>
                            <mat-error>  
                                <span   *ngIf="careerDetails.controls['Occupation'].hasError('required')&&
                                (careerDetails.controls.Occupation.touched ||careerDetails.controls['Occupation'].dirty|| isSubmitted)">
                                                                    Occupation is required.  </span>  
                            </mat-error>
                          </mat-form-field> 
                      </div>
                      <div class="form-group">
                          <mat-form-field class="demo-full-width">
                              <input matInput placeholder="Annual Income " formControlName="Income">
                              <mat-error>  
                                  <span  *ngIf="careerDetails.controls['Income'].hasError('required')&&
                                  (careerDetails.controls.Income.touched ||careerDetails.controls['Income'].dirty|| isSubmitted)">
                                                                      Annual income is required.</span>  
                              </mat-error>
                            </mat-form-field> 
                        </div>
                        <div class="form-group">
                            <mat-form-field class="demo-full-width">
                                <textarea matInput placeholder="Express Yourself!" formControlName="Express">

                                </textarea>
                                <mat-error>  
                                    <span  *ngIf="careerDetails.controls['Express'].hasError('required')&&
                                    (careerDetails.controls.Express.touched ||careerDetails.controls['Express'].dirty|| isSubmitted)">
                                                                        Minimum 200 words needed. </span>  
                                </mat-error>
                              </mat-form-field> 
                          </div>
                          <button mat-raised-button color="primary" (click)="onSubmit(careerDetails.value)">SUBMIT</button>
      <button mat-raised-button color="warn" (click)="SaveCareerInfo()"style="margin-left: 20px;">Save</button> 
      </form>
    </mat-card-content>
     
      
            
     
  </mat-card>