.example-card{
    max-width: 400px; 
    margin:auto;
    box-shadow: 5px -5px 5px #CCC;
    color:green; 
    font-weight: bold;
    font-family: "Times New Roman", Times, serif; 
    background-color:pink;
   
}
 
.example-card-header{
    background-color:Khaki;
}
.example-card-content{
    background-color:pink;

}
.example-card-actions{
    display: flex;
}
 