.container{
    top: 15%;
}

.changepassword{
    margin-top: 10em ;
    padding-right: initial; 
}
.changepassword .card{
    border-color: deepskyblue;
}
.changepassword .row{
    padding-right: initial; 
}
.changepassword h5{
    font-style: bold;
    color: deepskyblue;
}