<div class="container changepassword">
    <div class="row justify-content-center col-sm-12">
        <div class="card col-sm-6">
            <div class="card-body">
                <div class="form-group row justify-content-center">
                    <h5> Change Password </h5>
                </div>
                <form [formGroup]="changepassword" novalidate>
                    <div class="form-group row">
                        <label class="col-sm-4" for="CurrentPassword">Current Password:</label>
                        <input type="password" placeholder="enter current password" class="form-control col-sm-8"
                            formControlName="CurrentPassword">
                    </div>
                    <div class="form-group alert alert-danger"
                        *ngIf="changepassword.controls['CurrentPassword'].hasError('required')&& (changepassword.controls.CurrentPassword.dirty)">
                        enter current password first
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4" for="NewPassword">New Password:</label>
                        <input type="password" placeholder="enter new password" class="form-control col-sm-8"
                            formControlName="NewPassword">
                    </div>
                    <div class="form-group alert alert-danger"
                        *ngIf="changepassword.controls['NewPassword'].hasError('minlength') ">
                        Password length should be more than 5
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4" for="ConfirmPassword">Confirm Password:</label>
                        <input type="password" placeholder="confirm new password" class="form-control col-sm-8"
                            formControlName="ConfirmPassword">
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="getData(changepassword.value)">Save
                        Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>