<form [formGroup]="EduacationDetails">
    <div class="container">
        <mat-card-title class="title"><h3>
            Education Details
          </h3> </mat-card-title>
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>About My Education</mat-label>
                <textarea matInput #message maxlength="256" rows="4" cols="100" class="form-control"
                    formControlName="AEduacation">
                      </textarea>
                <!-- <mat-hint  ><strong>Don't disclose personal info</strong> </mat-hint> -->
                <mat-hint>{{message.value.length}} / 256</mat-hint>
                <mat-error>
                    <span
                        *ngIf="EduacationDetails.controls['AEduacation'].hasError('required')&&
                              (EduacationDetails.controls.AEduacation.touched ||EduacationDetails.controls['AEduacation'].dirty|| isSubmitted)">
                        Field is required. </span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Highest Education</mat-label>

                <mat-select formControlName="HighestDegree" required>
                    <mat-option>-- Select --</mat-option>
                    <mat-option *ngFor="let highestDegrees of  highestDegree" value={{highestDegrees.state_id}}>
                        {{highestDegrees.state_name}} </mat-option>
                </mat-select>
                <mat-error>
                    <span
                        *ngIf=" EduacationDetails.controls['HighestDegree'].hasError('required')&&
                                      (EduacationDetails.controls.HighestDegree.touched ||EduacationDetails.controls['HighestDegree'].dirty|| isSubmitted)">
                        Highest Education is required. </span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Graduation Degree</mat-label>

                <mat-select formControlName="GraduationDegree" required>
                    <mat-option>-- Select --</mat-option>
                    <mat-option *ngFor="let graduationDegrees of  graduationDegree" value={{highestDegrees.state_id}}>
                        {{highestDegrees.state_name}} </mat-option>
                </mat-select>
                <mat-error>
                    <span
                        *ngIf=" EduacationDetails.controls['GraduationDegree'].hasError('required')&&
                                          (EduacationDetails.controls.GraduationDegree.touched ||EduacationDetails.controls['GraduationDegree'].dirty|| isSubmitted)">
                        Graduation Degree is required. </span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Graduation Collage</mat-label>
                <input type="text" matInput placeholder="Not filled in" formControlName="GraduationCollage">

                <mat-error>
                    <span
                        *ngIf=" EduacationDetails.controls['GraduationCollage'].hasError('required')&&
                                      (EduacationDetails.controls.GraduationCollage.touched ||EduacationDetails.controls['GraduationCollage'].dirty|| isSubmitted)">
                        Graduation College is required. </span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>School Name </mat-label>
                <input matInput placeholder="Not filled in" formControlName="SchoolName">
                <mat-error>
                    <span
                        *ngIf="EduacationDetails.controls['SchoolName'].hasError('required')&&
                                              (EduacationDetails.controls.SchoolName.touched ||EduacationDetails.controls['SchoolName'].dirty|| isSubmitted)">
                        School Name is required. </span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <button mat-raised-button color="primary" class="button"(click)="onSubmit(EduacationDetails.value)">Save & Next</button>
            <!-- <button mat-raised-button color="warn"   style="margin-left: 20px;">SAVE</button> -->
            <button mat-raised-button class="button" color="warn"
                (click)="EducationUser(EduacationDetails.value)">Clear</button>
        </div>


    </div>
</form>
