<div

<div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
        <div class="card bg-primary text-white">
            <div class=" card-body text-center"><b> Total {{totalCount}} </b></div>
        </div>
    </div>
    <div class="space col-sm-5"></div>
</div>



<div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
        <div class="card bg-primary text-white">
            <div class="card-body text-center"><b> Brides {{bridesCount}} </b></div>
        </div>
    </div>
    <div class="space col-sm-5"></div>
</div>



<div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
        <div class="card bg-primary text-white">
            <div class="card-body text-center"><b> Grooms {{groomsCount}} </b></div>
        </div>
    </div>
    <div class="space col-sm-5"></div>
</div>