<!-- <div class="container mt-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#basic">Basic Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#personal">Personal Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#career">Career Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#astro">Astro and Religion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lifestyle">LifeStyle</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#family">Family Details</a>
        </li>
    </ul>
</div> -->
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- <div id="basic" class="container tab-pane active"><br>
            <div class="card bg-light text-dark">
                <div class="card">
                    <div class="card-body"><i class="d1">Basic Details</i>
                        <table class="table">
                            <tbody>
                                <h3>Name:</h3>
                                <tr>
    
                                    <td colspan="15px">Posted by:</td>
                                    <td></td>
                                    <td>Hight:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="15px">Date of Birth:</td>
                                    <td></td>
                                    <td>Age:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="15px">Religion:</td>
                                    <td></td>
                                    <td>Cast:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="15px">Mother Tongue:</td>
                                    <td></td>
                                    <td>Location:</td>
                                    <td></td>
                                </tr>
    
                                <tr>
                                    <td colspan="15px">Marrital Status:</td>
                                    <td></td>
                                    <td>Annual Income:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="15px">Contact No:</td>
                                    <td></td>
    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
               
                </div>
        </div>

        <div id="personal" class="container tab-pane fade"><br>
            <div class="card bg-light text-dark">
                <div class="card-body"><i class="d1">Personal Details</i>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="15px">Blood Group:</td>
                                <td></td>
                                <td>Height:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Height:</td>
                                <td></td>
                                <td>Weight:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Body Type:</td>
                                <td></td>
                                <td>lens:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Spectacles:</td>
                                <td></td>
                                <td>Complexion:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">NRI:</td>
                                <td></td>
                                <td>Smoking:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Drinking:</td>
                                <td></td>
                                <td>Eating Habbits:</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="career" class="container tab-pane fade"><br>
            <div class="card bg-light text-dark">
                <div class="card-body"><i class="d1">Career Details</i>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="15px">Country:</td>
                                <td></td>
                                <td>State:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">City Living:</td>
                                <td></td>
                                <td>Pincode:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Highest Degree:</td>
                                <td></td>
                                <td>Employeed:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Occupation:</td>
                                <td></td>
                                <td>Annual Income:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Express yourself:</td>
                                <td></td>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div id="astro" class="container tab-pane fade"><br>
            <div class="card bg-light text-dark">
                <div class="card-body"><i class="d1">Astro and Religion</i>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="15px">Marrital Status:</td>
                                <td></td>
                                <td>Mother Tongue:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Religion:</td>
                                <td></td>
                                <td>Cast:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Sub Cast:</td>
                                <td></td>
                                <td>lens:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Spectacles:</td>
                                <td></td>
                                <td>Complexion:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">NRI:</td>
                                <td></td>
                                <td>Smoking:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Drinking:</td>
                                <td></td>
                                <td>Eating Habbits:</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="lifestyle" class="container tab-pane fade"><br>
            <div class="card bg-light text-dark">
                <div class="card-body"><i class="d1">LifeStyle Detail</i>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="15px">Habbits:</td>
                                <td></td>
                                <td>Assets:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Known Languages:</td>
                                <td></td>
                                <td>Food:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Hobbies:</td>
                                <td></td>
                                <td>Interested in:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Favourite Book:</td>
                                <td></td>
                                <td>Favourite Music:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Dress Style:</td>
                                <td></td>
                                <td colspan="15px">Sports:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Movies:</td>
                                <td></td>
                                <td colspan="15px">TV shows:</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="family" class="container tab-pane fade"><br>
            <div class="card bg-light text-dark">
                <div class="card-body"><i class="d1"><u>Family Details</u></i>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="15px">Family Type:</td>
                                <td></td>
                                <td>Family Living in:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Father's Occupation:</td>
                                <td></td>
                                <td>Mother's Occupation:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">No of Brothers:</td>
                                <td></td>
                                <td>Married Brothers:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">No of Sisters:</td>
                                <td></td>
                                <td>Married Sisters:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Contact Address:</td>
                                <td></td>
                                <td colspan="15px">About Family:</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div> -->
            <br>
            <div class="card">
                <div class="card-body"><i class="d1">Basic Details</i>
                    <table class="table">
                        <tbody>
                            <h3>Name:</h3>
                            <tr>

                                <td colspan="15px">Posted by:</td>
                                <td></td>
                                <td>Hight:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Date of Birth:</td>
                                <td></td>
                                <td>Age:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Religion:</td>
                                <td></td>
                                <td>Cast:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Mother Tongue:</td>
                                <td></td>
                                <td>Location:</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td colspan="15px">Marrital Status:</td>
                                <td></td>
                                <td>Annual Income:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Contact No:</td>
                                <td></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="card bg-light text-dark">
                <div class="card-body"><i class="d1">Personal Details</i>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="15px">Blood Group:</td>
                                <td></td>
                                <td>Height:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Height:</td>
                                <td></td>
                                <td>Weight:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Body Type:</td>
                                <td></td>
                                <td>lens:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Spectacles:</td>
                                <td></td>
                                <td>Complexion:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">NRI:</td>
                                <td></td>
                                <td>Smoking:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Drinking:</td>
                                <td></td>
                                <td>Eating Habbits:</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="card bg-light text-dark">
                <div class="card-body"><i class="d1">Career Details</i>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="15px">Country:</td>
                                <td></td>
                                <td>State:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">City Living:</td>
                                <td></td>
                                <td>Pincode:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Highest Degree:</td>
                                <td></td>
                                <td>Employeed:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Occupation:</td>
                                <td></td>
                                <td>Annual Income:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Express yourself:</td>
                                <td></td>
                        </tbody>
                    </table>

                </div>
            </div>
            <br>
            <div class="card bg-light text-dark">
                <div class="card-body"><i class="d1">Astro and Religion</i>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="15px">Marrital Status:</td>
                                <td></td>
                                <td>Mother Tongue:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Religion:</td>
                                <td></td>
                                <td>Cast:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Sub Cast:</td>
                                <td></td>
                                <td>lens:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Spectacles:</td>
                                <td></td>
                                <td>Complexion:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">NRI:</td>
                                <td></td>
                                <td>Smoking:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Drinking:</td>
                                <td></td>
                                <td>Eating Habbits:</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="card bg-light text-dark">
                <div class="card-body"><i class="d1">LifeStyle Detail</i>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="15px">Habbits:</td>
                                <td></td>
                                <td>Assets:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Known Languages:</td>
                                <td></td>
                                <td>Food:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Hobbies:</td>
                                <td></td>
                                <td>Interested in:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Favourite Book:</td>
                                <td></td>
                                <td>Favourite Music:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Dress Style:</td>
                                <td></td>
                                <td colspan="15px">Sports:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Movies:</td>
                                <td></td>
                                <td colspan="15px">TV shows:</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="card bg-light text-dark">
                <div class="card-body"><i class="d1">Family Details</i>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="15px">Family Type:</td>
                                <td></td>
                                <td>Family Living in:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Father's Occupation:</td>
                                <td></td>
                                <td>Mother's Occupation:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">No of Brothers:</td>
                                <td></td>
                                <td>Married Brothers:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">No of Sisters:</td>
                                <td></td>
                                <td>Married Sisters:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="15px">Contact Address:</td>
                                <td></td>
                                <td colspan="15px">About Family:</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
     </div>