<button class="close" mat-button color="accent" (click)="onNoClick()">X</button>
<h1 mat-dialog-title> Details </h1>
<div mat-dialog-content>
    <div class="card">
        <div class="card-body"><i class="d1">Basic Details</i>
            <hr>
            <table class="table">
                <tbody>
                    <tr>
                        Name: {{data.detail.name}}
                        <span class="barcode">
                            age: {{data.detail.age}}
                        </span>

                        <br><br>

                        Religion: {{data.detail.religion}}
                        <span class="barcode">
                            Mother Tongue: {{data.detail.mothertongue}}
                        </span>

                        <br><br>
                        City: {{data.detail.city}}
                        <span class="barcode">
                            Marital Status: {{data.detail.maritalstatus}}
                        </span>
                        <br><br>

                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body"><i class="d1">Personal Details</i>
            <hr>
            <table class="table">
                <tbody>
                    <tr>
                        BloodGroup:
                        <span class="barcode">
                            Height:
                        </span>

                        <br><br>

                        Height:
                        <span class="barcode">
                            Weight:
                        </span>

                        <br><br>
                        Body Type:
                        <span class="barcode">
                            lens:
                        </span>

                        <br><br>
                        Spectacles:
                        <span class="barcode">
                            Complexion:
                        </span>
                        <br><br>
                        NRI:
                        <span class="barcode">
                            Smoking:
                        </span>

                        <br><br>
                        Drinking:
                        <span class="barcode">
                            Eating Habbits:
                        </span>
                        <br><br>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body"><i class="d1">Career Details</i>
            <hr>
            <table class="table">
                <tbody>
                    <tr>
                        Country:
                        <span class="barcode">
                            State:
                        </span>
                        <br><br>

                        City Living:
                        <span class="barcode">
                            Pincode:
                        </span>
                        <br><br>

                        Highest Degree:
                        <span class="barcode">
                            Employeed:
                        </span>

                        <br><br>
                        Occupation:
                        <span class="barcode">
                            Annual Income:
                        </span>
                        <br><br>
                        Express yourself:

                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body"><i class="d1">Astro and Religion</i>
            <hr>
            <table class="table">
                <tbody>
                    <tr>
                        Marrital Status:
                        <span class="barcode">
                            Mother Tongue:
                        </span>
                        <br><br>
                        Religion:
                        <span class="barcode">
                            Cast:
                        </span>
                        <br><br>
                        Sub Cast:
                        <span class="barcode">
                            lens:
                        </span>
                        <br><br>
                        Spectacles:
                        <span class="barcode">
                            Complexion:
                        </span>
                        <br><br>
                        NRI:
                        <span class="barcode">
                            Smoking:
                        </span>
                        <br><br>
                        Drinking:
                        <span class="barcode">
                            Eating Habbits:
                        </span>
                        <br><br>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body"><i class="d1">LifeStyle Detail</i>
            <hr>
            <tr>
                <table class="table">
                    <tbody>
                        <tr>
                            Habbits:
                            <span class="barcode">
                                Assets:
                            </span>
                            <br><br>
                            Known Languages:
                            <span class="barcode">
                                Food:
                            </span>
                            <br><br>

                            Hobbies:
                            <span class="barcode">
                                Interested in:
                            </span>

                            <br><br>
                            Favourite Book:
                            <span class="barcode">
                                Favourite Music:
                            </span>
                            <br><br>
                            Dress Style:
                            <span class="barcode">
                                Sports:
                            </span>
                            <br><br>
                            Movies:
                            <span class="barcode">
                                TV shows:
                            </span>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body"><i class="d1">Family Details</i>
            <hr>
            <table class="table">
                <tbody>
                    <tr>
                        Family Type:
                        <span class="barcode">
                            Family Living in:
                        </span>
                        <br><br>
                        Father's Occupation:
                        <span class="barcode">
                            Mother's Occupation:
                        </span>
                        <br><br>
                        No of Brothers:
                        <span class="barcode">
                            Married Brothers:
                        </span>
                        <br><br>

                        No of Sisters:
                        <span class="barcode">
                            Married Sisters:
                        </span>
                        <br><br>

                        Contact Address:
                        <span class="barcode">
                            About Family:
                        </span>
                        <br><br>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
