table {
    
    border-spacing: 0 8px !important;
  } 
  .card
{
   font-size: 15px;  
   width: 700px;
   height: auto;
   margin: 0 auto; 
    float: none;
   margin-bottom: 10px; 
   background-color: rgb(119, 18, 45);   
}
.cdk-overlay-pane.my-dialog {
   position: relative!important;
 }
 .close.mat-button {
   position: absolute;
   top: 0;
   right: 0;
   padding: 5px;
   line-height: 14px;
   min-width: auto;
 }
.barcode
{
   margin-left: 360px;
}
.table
{
   color:white;
}
.d1
{
   font-size: 20px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: white;
   
   
}
.mat-dialog-title
{
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 40px;
 color: rgb(66, 8, 23);

}
.center
{
   display: block;
  margin-left: auto;
  margin-right: auto;
   width: 40%; 
}
 
