.card
{
    font-size: 20px;  
    width: 900px;
    height: auto;
    margin: 0 auto; /* Added */
     float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-image: url('src\assets\images\indian-bride.jpg');
    background-repeat: no-repeat;
}
.table
{
    color: white;
}
.d1
{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
}

.nav-item
{
    font-size: 20px;
    color: white;
   

}