<div>
    <nav id="MainNavBar" class="navbar navbar-dark   navbar-expand-lg  static-top">
        <div class="container">
            <a href="#" class="navbar-brand">
                <img src="assets\Images\rishtalogo.png" width="200px" height="40px"></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#uiNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="uiNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item px-2 active">
                        <a href="#" class="nav-link">
                            <i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="#" class="nav-link">
                            <i class="fa fa-id-card"></i> About Us</a>
                    </li>

                    <li class="nav-item px-2" >
                        <a href="#" class="nav-link">
                             <i class="fa fa-envelope"></i> Contact Us</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-sign-in-alt "></i> Username</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-sign-out-alt "></i> LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- ---------------------------------------nav bar Ends Here...!------------------------------------------- -->
<div>
<footer class="p-3  text-white text-center fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Copyright &copy;All Rights Reserved Developed & Maintained by
                    <a class="text-warning" href=" https://www.assimilatetechnologies.com/" target="_blank">
                        <i class="fa fa-users"></i> Assimilate Technology
                    </a>
                </h6>
            </div>
        </div>
    </div>
</footer>
</div>










