.title{
    padding-bottom: 10px;
    text-align: center; 
  }
  .container{    
    text-align: center; 
    width: 50%;
  }
   
  .button{margin-right: 10px;}
   .form-group col-md-6
   {
    margin-right: 10px;
   }