

.tilefix{
  position: absolute;
  width: 60%;
  height: 60%; 
  text-align: center;
  margin-left: 20%;
  padding-bottom: 20px;
}
.title{
  padding-bottom: 30px;
  text-align: center;
} 
/* .mat-grid-tile {
  background: lightcoral;
} */
  .button
  {
      margin-top: 10px;
      margin-left: 20px;
      margin-bottom: 65px;
  }
  .form
  {
      text-align: center;
  }