
 
.example-card {
    max-width: 600px;
    margin: 0px auto;
    height: auto;
    color: navy;
    background-color: lightcoral; 
    
  }

  .mat-form-field-wrapper{
    width: 600px !important;
    color: navy;
     
}
.mat-form-field{
    width:100%;
}

.mat-card-header .mat-card-title {
  font-size: 25px;
  font-family: "Arial Black", Gadget, sans-serif;
  
  
  
}

  .example-container
  {
      max-width: 300px;
      margin-left: 50px;
      margin-bottom: 55px;
  }
  .button
  {
      margin-left: 20px;
  }
  .form
  {
      text-align: center;
  }
