<div class="container login">
    <div class="row justify-content-center">
  
        <div class="card col-sm-4">
            <div class="card-body">
                <div class="form-group row justify-content-center">
                    <h5> Login </h5>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4" for="username">Username:</label>
                    <input type="text" id="username" class="form-control col-sm-8" placeholder="Username" [(ngModel)]="username">
                </div>
                <div class="form-group row">
                    <label class="col-sm-4" for="password"> Password: </label>
                    <input type="password" id="password" class="form-control col-sm-8" placeholder="Password"
                       [(ngModel)]="password" (keyup.enter)="login()">
                </div>
                <!-- <div>
                    <a> Forgot Password? </a>
                </div> -->
                <div class="form-group">
                    <button type="button" class="btn btn-primary" (click)="login()"> Login </button>
                </div>
                <div class="form-group">
                    Don't have account ?<a class="" routerLink="./sign-up">sign-up here</a>
                </div>
            </div>
        </div>
  
    </div>
  </div>
  