<!-- 
Material form login
<mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Sign in/Login</strong>
      </h5>
    </mdb-card-header>
  
  
    
    <mdb-card-body class="px-lg-5 pt-0">
  
      <form class="text-center" style="color: #757575;">
  
        
        <div class="md-form">
          <input type="email" id="materialLoginFormEmail" class="form-control" mdbInput>
          <label for="materialLoginFormEmail">E-mail</label>
        </div>
  
        
        <div class="md-form">
          <input type="password" id="materialLoginFormPassword" class="form-control" mdbInput>
          <label for="materialLoginFormPassword">Password</label>
        </div>
  
        <div class="d-flex justify-content-around">
          <div>
            
            <mdb-checkbox>Remember me</mdb-checkbox>
          </div>
          <div>
            
            <a href="">Forgot password?</a>
          </div>
        </div>

        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
          type="submit">Sign in</button>
  
    
        <p>Not a member?
          <a href="">Register</a>
        </p>
  
        
        <p>or sign in with:</p>
        <a type="button" mdbBtn floating="true" color="fb" size="sm">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <a type="button" mdbBtn floating="true" color="tw" size="sm">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <a type="button" mdbBtn floating="true" color="li" size="sm">
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
        <a type="button" mdbBtn floating="true" color="git" size="sm">
          <mdb-icon fab icon="github"></mdb-icon>
        </a>
  
      </form>
      
  
    </mdb-card-body>
  
  </mdb-card>
   -->

   
<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Username" formControlName="username" [(ngModel)]="username">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password" [(ngModel)]="password" (key.enter)="login()">
                </mat-form-field>
            </p>
            <div class="button">
                <button type="submit" mat-button color="accent" (click)="login()">Login</button>
            </div>
            <div class="form-group">
                Don't have account ?<a class="" routerLink="/sign-up">sign-up</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>