<div>

  <mat-nav-list>

    <button mat-button routerLink="./register" data-target="#myModal1">Register</button>
    <button mat-button routerLink="./profiledetails" data-target="#myModal2">Profile Details </button>
    <button mat-button routerLink="./CareerDetails" data-target="#myModal3">Career Details </button>
    <button mat-button routerLink="./familydetails" data-target="#myModal4">Family Details </button>
    <button mat-button routerLink="./personalDetails" data-target="#myModal5">Personal Details</button>
    <button mat-button routerLink="./Educationdetails" data-target="#myModal5">Educational Details  </button>
    <button mat-button routerLink="./LifestyleDetails" data-target="#myModal6">LifestyleDetails </button>
    <button mat-button routerLink="./astroandreligion" data-target="#myModal7"> Astro and Religion</button>
    <button mat-button routerLink="./feedbackDetails" data-target="#myModa8"> FeedBack</button>
    
  </mat-nav-list>   
        <router-outlet></router-outlet>

</div>










