<!-- <head-foot></head-foot> -->
<!-- <div class="demo" style="background-image: url('assets/Images/background image (2).jpg');height: 800px; width:100%;">
        -->
        <!-- <a data-toggle="modal">Register </a> -->
        <!-- <a routerLink="./register" data-toggle="modal" data-target="#myModal1">Register</a>

        <a routerLink="./profiledetails" data-toggle="modal" data-target="#myModal2">Profile Details </a> -->
        <!-- <a >
            <button type="button"class="btn btn-default" data-toggle="modal" data-target="#myModal1">Register</button>
        </a> 
        <a >
            <button type="button"  class="btn btn-default" data-toggle="modal" data-target="#myModal2">Profile Details</button>

        </a> -->
        <a routerLink="./profiledetails">Profile Details</a>
        <button type="button" routerLink="./register" class="btn btn-default" data-toggle="modal" data-target="#myModal1">Register</button>
        <button type="button" routerLink="./profiledetails" class="btn btn-default">Profile Details</button>
        <button type="button" routerLink="./CareerDetails" class="btn btn-default" data-toggle="modal" data-target="#myModal3">Career Details</button>
        <button type="button" routerLink="./familydetails" class="btn btn-default" data-toggle="modal" data-target="#myModal4">Family Details</button>
        <button type="button" routerLink="./personalDetails" class="btn btn-default" data-toggle="modal" data-target="#myModal5">Personal Details</button>
        <button type="button" routerLink="./Educationdetails" class="btn btn-default" data-toggle="modal" data-target="#myModal6">Educational Details</button>
        <button type="button" routerLink="./LifestyleDetails" class="btn btn-default" data-toggle="modal" data-target="#myModal7">Lifestyle Details</button>
        <button type="button" routerLink="./astroandreligion" class="btn btn-default" data-toggle="modal" data-target="#myModal8">Astro and Religion</button>
        <button type="button" routerLink="./feedbackDetails" class="btn btn-default" data-toggle="modal" data-target="#myModal9">FeedBack</button>


    <!-- <a routerLink="./profiledetails">
        <a data-toggle="modal" data-targate="myModal3"> 
    </a> -->

    <!-- <a routerLink="./CareerDetails">
        <a data-toggle="modal"> Career Details </a>
    </a>

    <a routerLink="./familydetails">
        <a data-toggle="modal"> Family Details </a>
    </a>
    <a routerLink="./personalDetails">
        <a data-toggle="modal"> Personal Details </a>
    </a>
    <a routerLink="./Educationdetails">
        <a data-toggle="modal"> Education Details </a>
    </a>


    <a routerLink="./LifestyleDetails">
        <a data-toggle="modal"> Lifestyle Details </a>
    </a>

    <a routerLink="./astroandreligion">
        <a data-toggle="modal">Astro and Religion </a>
    </a>

    <a data-toggle="modal" routerLink="./feedbackDetails">
        <a data-toggle="modal"> FeedBack </a>
    </a> -->

<!-- </div> -->
<router-outlet></router-outlet>