<head-foot></head-foot>
<div class="demo" style="background-image: url('assets/Images/background image (2).jpg');height: 800px; width:100%;">
    <a routerLink="/register">
      Register 
    </a>
    <!-- <a routerLink="./profiledetails">
        <a data-toggle="modal"> Profile Details </a>
    </a>

    <a routerLink="./CareerDetails">
        <a data-toggle="modal"> Career Details </a>
    </a>

    <a routerLink="./familydetails">
        <a data-toggle="modal"> Family Details </a>
    </a>
    <a routerLink="./personalDetails">
      Personal Details </a>
    </a>
    <a routerLink="./Educationdetails">
          Education Details 
    </a>


    <a routerLink="./LifestyleDetails">
        <a data-toggle="modal"> Lifestyle Details </a>
    </a>

    <a routerLink="./astroandreligion">
        <a data-toggle="modal">Astro and Religion </a>
    </a>

    <a data-toggle="modal" routerLink="./feedbackDetails">
        <a data-toggle="modal"> FeedBack </a>
    </a> -->

</div>
<router-outlet></router-outlet>