<form [formGroup]="ProfileDetails" >

  <mat-card-title class="title"><h3>
    Profile Details
  </h3> </mat-card-title>
   
  <div class="container">
    
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Create Profile By :</mat-label>
            <mat-select formControlName="create_profile_by">
              <mat-option value="">Select</mat-option>
              <mat-option value="self">Self</mat-option>
              <mat-option value="parents">Parents</mat-option>
            </mat-select>
          </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker" placeholder="Date Of Birth" formControlName="Dob">
            <mat-error *ngIf="ProfileDetails.get('Dob').hasError('required') &&
                              (ProfileDetails.get('Dob').touched || ProfileDetails.get('Dob').dirty|| isSubmitted)"
              class="text-danger" padding>
              Date is a required field.</mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Mother tongue:</mat-label>
            <mat-select formControlName="Mothertng">
              <mat-option value="">Select</mat-option>
              <mat-option *ngFor="let Mothertng of mothertounge" [value]="Mothertng.mothertongue_id">
                {{Mothertng.mothertongue_name}}</mat-option>

            </mat-select>
            <mat-error *ngIf="ProfileDetails.get('Mothertng').hasError('required') &&
                  (ProfileDetails.get('Mothertng').touched || ProfileDetails.get('Mothertng').dirty|| isSubmitted)"
              class="text-danger" padding>
              Mother tongue is a required field.</mat-error>
          </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group"> 
          <mat-form-field appearance="outline">
            <mat-label>Religion:</mat-label>
            <mat-select formControlName="religion" (change)="onChangeCountry($event.target.value)">
              <mat-option value="">Select</mat-option>
              <mat-option *ngFor="let religion of allreligions" [value]="religion.religion_id">
                {{religion.religion_name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="ProfileDetails.get('religion').hasError('required') 
                    && (ProfileDetails.get('religion').touched || ProfileDetails.get('religion').dirty|| isSubmitted)"
              class="text-danger" padding>Religion is a required field.</mat-error>


          </mat-form-field>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Caste:</mat-label>
            <mat-select formControlName="Caste" (change)="onChangeSubCaste($event.target.value)">
              <mat-option value="">Select</mat-option>
              <mat-option *ngFor="let Caste of allcastes" [value]="Caste.caste_id">{{Caste.caste_name}}</mat-option>

            </mat-select>
            <mat-error *ngIf="ProfileDetails.get('Caste').hasError('required') &&
                    (ProfileDetails.get('Caste').touched || ProfileDetails.get('Caste').dirty|| isSubmitted)"
              class="text-danger" padding>
              Caste is a required field.
            </mat-error>
          </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Sub Caste:</mat-label>
            <mat-select formControlName="SubCaste">
              <mat-option value="">Select</mat-option>
              <mat-option *ngFor="let SubCaste of allsubcastes" [value]="SubCaste.subcaste_id">
                {{SubCaste.subcaste_name}}
              </mat-option>

            </mat-select>


            <mat-error *ngIf="ProfileDetails.get('SubCaste').hasError('required') 
                  && (ProfileDetails.get('SubCaste').touched || ProfileDetails.get('SubCaste').dirty|| isSubmitted)"
              class="text-danger" padding>
              Caste is a required field.</mat-error>
          </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Are You Manglik?</mat-label>
            <mat-select formControlName="Manglik">
              <mat-option value="">Select</mat-option>
              <mat-option value="Manglik">Manglik</mat-option>
              <mat-option value="NonManglik">Non-Manglik</mat-option>
              <mat-option value="AnshikManglik">Anshik-Manglik</mat-option>
            </mat-select>


            <mat-error *ngIf="ProfileDetails.get('Manglik').hasError('required') &&
                    (ProfileDetails.get('Manglik').touched || ProfileDetails.get('Manglik').dirty || isSubmitted)"
              class="text-danger" padding>
              Manglik is a required field.
            </mat-error>
          </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Horoscope match is necessary?:</mat-label>
            <mat-select formControlName="Horoscope" appearance="outline">
              <mat-option value="">Select</mat-option>
              <mat-option value="Must">Must</mat-option>
              <mat-option value="NonManglik">Not-Necessary</mat-option>
            </mat-select>


            <mat-error
              *ngIf="ProfileDetails.get('Horoscope').hasError('required') &&
                                 (ProfileDetails.get('Horoscope').touched || ProfileDetails.get('Horoscope').dirty || isSubmitted)"
              class="text-danger" padding>
              Horoscope is a required field.
            </mat-error>
          </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Marital status</mat-label>
            <mat-select formControlName="Marrital">
              <mat-option value="">Select</mat-option>
              <mat-option value="NeverMarried">Never Married</mat-option>
              <mat-option value="AwaitingDivorce">Awaiting Divorce</mat-option>
              <mat-option value="AwaitingDivorce">Divorced</mat-option>
              <mat-option value="AwaitingDivorce">Widowed</mat-option>
              <mat-option value="AwaitingDivorce">Annulled</mat-option>
            </mat-select>


            <mat-error *ngIf="ProfileDetails.get('Marrital').hasError('required') &&
                      (ProfileDetails.get('Marrital').touched || ProfileDetails.get('Marrital').dirty || isSubmitted)"
              class="text-danger" padding>
              Marrital status is a required field.
            </mat-error>
          </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Marital status</mat-label>
            <mat-select formControlName="Height">
              <mat-option value="">Select</mat-option>
              <mat-option value="1">4.0</mat-option>
              <mat-option value="2">5.0</mat-option>
              <mat-option value="3">5.6</mat-option>
              <mat-option value="4">5.10</mat-option>
              <mat-option value="5">6.0</mat-option>
            </mat-select>


            <mat-error *ngIf="ProfileDetails.get('Height').hasError('required') && 
                      (ProfileDetails.get('Height').touched  || ProfileDetails.get('Height').dirty || isSubmitted)"
              class="text-danger" padding>
              Height is a required field.
            </mat-error>
          </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button mat-raised-button color="primary" (click)="onSubmit(ProfileDetails.value)">Save & Next</button>
          <button mat-raised-button color="warn" class="button">Clear</button>
        </div>
      </div>
    </mat-card-content>
  </div>
</form>