.example-card {
    max-width: 300px;
    max-height: 200px;
    align-items: center;
     margin-left: 300px;
     margin-top: 230px;
    background-image: url('src/assets/Images/indian-bride.jpg');
    color: white;
  }
  
  .example-header-image {
    background-image: url('src/assets/Images/rishtalogo.png');
    background-size: cover;
  }

  .example{
    background-color: aquamarine;
  }
  .example-card1 {
    max-width: 300px;
    max-height: 200px;
    margin-left: 20px;
    margin-top: 230px;
    background-image: url('src/assets/Images/indian-bride.jpg');
    color: white;
  }
  .example-card2 {
    max-width: 300px;
    max-height: 200px;
    margin-left: 20px;
    margin-top: 230px;
    margin-right: 350px;
    background-image: url('src/assets/Images/indian-bride.jpg');
    color: white;
  }