<div>
    <table>
        <tr>
            <td>
                <div>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Total Members</mat-card-title>

                        </mat-card-header>
                        <img mat-card-image src="assets/Images/jodi1.jpg" height=200px width=200px>
                        <mat-card-content>

                            Total:{{ total }}

                        </mat-card-content>
                    </mat-card>
                </div>
            </td>
            <td>
                <div>
                    <mat-card class="example-card1">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Total Brides:</mat-card-title>

                        </mat-card-header>
                        <img mat-card-image src="assets/Images/bride2.jpg" height=200px width=300px>
                        <mat-card-content>

                            Brides:{{brides}}

                        </mat-card-content>
                        <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
                    </mat-card>
                </div>
            </td>
            <td>
                <div>
                    <mat-card class="example-card2">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Total Grooms</mat-card-title>
                            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                        </mat-card-header>
                        <img mat-card-image src="assets/Images/groom2.jpg" height=200px width=3000px>
                        <mat-card-content>

                            Grooms:{{grooms}}

                        </mat-card-content>
                        <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
                    </mat-card>
                </div>
            </td>
        </tr>
    </table>
</div>