<<<<<<< HEAD

  /* .mat-form-field-wrapper{
    width: 600px !important;
} */
/* .mat-card-header .mat-card-title {
  font-size: 25px;
  font-family: "Arial Black", Gadget, sans-serif;
  color: navy;
}
.example-container
  {
      max-width: 300px;
      margin-left: 50px;
  }
  .button
  {
      margin-left: 20px;
  }
  .form
  {
      text-align: center;
  }
  .buttonprimary{
    max-width: 300px;
    margin-left: 70px;
  }  */
=======
 
>>>>>>> 5594ae3ce9033269a27114bbb128138b90b92aca
