<div class="container">
     
    <!-- Trigger the modal with a button -->
     
  
    <!-- Modal -->
    <div class="modal fade" id="myModal7" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Lifestyle Details</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            
          </div>
          <div class="modal-body">
             


            <div class="row">
                <div class="col-md-2"> 
                    <div class="form-group">
                        <label  for="text">Habits</label>
                   </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                         
                        <input type="text" id="Languages" name="Languages">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-2"> 
                    <div class="form-group">
                        <label  for="text"> Assets</label>
                         
                   </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" id="Languages" name="Languages">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"> 
                    <div class="form-group">
                        <label  for="text">Languages I Speak</label> 
                   </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" id="Languages" name="Languages">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"> 
                    <div class="form-group">
                        <label  for="text">Food I Cook</label>
                   </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" id="Languages" name="Languages">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"> 
                    <div class="form-group">
                         
<label  for="text">Hobbies</label>
                   </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" id="Languages" name="Languages">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"> 
                    <div class="form-group">
                         
<label  for="text">Interests</label>
                   </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" id="Languages" name="Languages">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"> 
                    <div class="form-group">
                        <label  for="text">Favourite Books</label>
                   </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" id="Languages" name="Languages">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"> 
                    <div class="form-group">
                        <label  for="text">Favourite Music</label> 
                   </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" id="Languages" name="Languages">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"> 
                    <div class="form-group">
                        <label  for="text">Dress Style</label> 
                   </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" id="Languages" name="Languages">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"> 
                    <div class="form-group">
                        <label  for="text">Sports  </label>
                   </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" id="Languages" name="Languages">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"> 
                    <div class="form-group">
                        <label  for="text"> Movies  </label>   
                   </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" id="Languages" name="Languages">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"> 
                    <div class="form-group">
                        <label  for="text"> TV Shows  </label>
                   </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" id="Languages" name="Languages">
                    </div>
                </div>
            </div>       
            <div class="row">
                <div class="col-md-2"> 
                     
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">SAVE</button>
                    </div>
                </div>
            </div>                       
 
 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          
        </div>
        
      </div>
    </div>
    </div>
    
    