<div class="container">

    <!-- Trigger the modal with a button -->


    <!-- Modal -->
    <div class="modal fade" id="myModal7" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Lifestyle Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">






                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="text">Habits</label>
                            </div>
                        </div>
                        <div class="col-sm-10">



                            <!-- </label>
                        <label  for="text">Do you drink?</label><br> -->
                            <label class="form-check-label" for="radio1">Do you drink?</label><br>
                            <div class="form-check-inline">

                                <input type="radio" class="form-check-input" name="drink">Yes
                                <input type="radio" class="form-check-input" name="drink">No
                                <input type="radio" class="form-check-input" name="drink">Occasionally

                            </div><br>
                            <label class="form-check-label" for="radio1">Do you smoke?</label><br>
                            <div class="form-check-inline">

                                <input type="radio" class="form-check-input" name="smoke">Yes
                                <input type="radio" class="form-check-input" name="smoke">No
                                <input type="radio" class="form-check-input" name="smoke">Occasionally

                            </div><br>
                            <label class="form-check-label" for="radio1">Are you open to pets?</label><br>
                            <div class="form-check-inline">

                                <input type="radio" class="form-check-input" name="pets">Yes
                                <input type="radio" class="form-check-input" name="pets">No


                            </div>



                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="text"> Assets</label>

                            </div>
                        </div>
                        <div class="col-md-10">
                            <label class="form-check-label" for="radio1">Own a house?</label><br>
                            <div class="form-check-inline">

                                <input type="radio" class="form-check-input" name="House">Yes
                                <input type="radio" class="form-check-input" name="House">No

                            </div><br>
                            <label class="form-check-label" for="radio1">Own a car?</label><br>
                            <div class="form-check-inline">

                                <input type="radio" class="form-check-input" name="car">Yes
                                <input type="radio" class="form-check-input" name="car">No


                            </div><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="text">Languages I Speak</label>
                            </div>
                        </div>
                        <div class="col-md-10">

                            <select class="form-control" multiple>
                                <option value="" disabled selected> SELECT</option>
                                <option value="1">Assamese</option>
                                <option value="2">Bengali</option>
                                <option value="3">Bodo</option>
                                <option value="4">Punjabi</option>
                                <option value="5">Gujarati</option>
                                <option value="6">Kannada</option>
                                <option value="7">Hindi</option>
                                <option value="8">Konkani</option>
                                <option value="9">Malayalam</option>
                                <option value="10">Sanskrit</option>
                                <option value="11">Marathi</option>
                                <option value="12">Tamil</option>
                                <option value="13">Telugu</option>
                                <option value="14">Urdu</option>
                            </select>




                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="text">Food I Cook</label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Food" name="Food"placeholder="Not filled in">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">

                                <label for="text">Hobbies</label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Painting">
                                        Painting</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Cooking">
                                        Cooking</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Photography">
                                        Photography</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Film">
                                        Film-making</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Gardening">
                                        Gardening/Landscaping</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Fishing">
                                        Fishing</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Singing">
                                        Singing</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Dancing">
                                        Dancing</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Acting">
                                        Acting</label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">

                                <label for="text">Interests</label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Writing">
                                        Writing</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Reading">
                                        Reading</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="languages">
                                        Learning new languages</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Photography">
                                        Listining new music</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="television">
                                        Watching television</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Movies">
                                        Movies</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Traveling">
                                        Traveling</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Indoor">
                                        Sports-Indoor</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Outdoor">
                                        Sports-Outdoor</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Video">
                                        Video/Computer games</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="text">Favourite Books</label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Science Fiction">
                                        Science Fiction </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="poetry">
                                        Poetry</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="biographies">
                                        Biographies</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="fantasy">
                                        Fantasy</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="autobiographies">
                                        Autobiographies</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="religious">
                                        Religious</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="history">
                                        history</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="diaries">
                                        Diaries</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="text">Favourite Music</label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Musical">
                                        Musical theatre</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Pop">
                                        Pop music</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Heavy">
                                        Heavy metal</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="rock">
                                        Punk rock</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Folk">
                                        Folk metal</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Rapper">
                                        Rapper</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Classical">
                                        Classical music</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Popular">
                                        Popular music</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="text">Dress Style</label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Indian">
                                        Classic Indian</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Western">
                                        Classic Western</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Designer">
                                        Designer</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Trendy">
                                        Trendy</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Casual">
                                        Casual</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="text">Sports </label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Casual">
                                        Aerobics</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Casual">
                                        Golf</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Casual">
                                        Volleyball</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Casual">
                                        Handball</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="tennis">
                                        Table tennis</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="carrom">
                                        Carrom</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="basketball">
                                        Basketball</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="text"> Vacation Destination </label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input type="text" id="Languages" name="Languages"placeholder="Not filled in">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="text"> Movies </label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input type="text" id="Languages" name="Languages"placeholder="Not filled in">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="text"> TV Shows </label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input type="text" id="Languages" name="Languages"placeholder="Not filled in">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">SAVE</button>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>
</div>