<div class="">
  <mat-toolbar color="warn">
    <mat-toolbar-row>
      <div> <a><img src="assets/Images/rishtalogo.png"></a></div>
      <div class="right">
        <button mat-button [matMenuTriggerFor]="menu1">User</button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item (click)="SignOut()">SignOut</button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <mat-tab-group>
        <mat-tab label [matMenuTriggerFor]="Register">
          
          <div>
            <button mat-button routerLink="./register">Register</button>
            <button mat-button routerLink="./profiledetails">Profile Details </button>
            <button mat-button routerLink="./CareerDetails">Career Details </button>
            <button mat-button routerLink="./familydetails">Family Details </button>
            <button mat-button routerLink="./personalDetails">Personal Details</button>
            <button mat-button routerLink="./Educationdetails">Educational Details </button>
            <button mat-button routerLink="./LifestyleDetails">LifestyleDetails </button>
            <button mat-button routerLink="./astroandreligion"> Astro and Religion</button>
          </div>
        </mat-tab>
        <mat-tab label="Matches">
           
        </mat-tab>
        <mat-tab label="Packges">
           
        </mat-tab>
        <mat-tab label="Contact">
           
        </mat-tab>
        <mat-tab label="About Us">
        
        </mat-tab>
        <mat-tab label="FeedBack">
          <button mat-button routerLink="./feedbackDetails"></button>
        </mat-tab>
      </mat-tab-group>

    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
<footer class="md-padding sm-padding lg-padding">
  <div id="btmFooter" flex>
    <p>@2020 Copyright: Assimilate Technology.</p>
  </div>
</footer>


<!-- <div class="">
<mat-toolbar color="warn">
  <mat-toolbar-row>
    <div> <a><img src="assets/Images/rishtalogo.png"></a></div>
    <div class="right">
      <button mat-button [matMenuTriggerFor]="menu1">User</button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item (click)="SignOut()">SignOut</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div>
      <button mat-button routerLink="./register"  >Register</button>
      <button mat-button routerLink="./profiledetails"  >Profile Details </button>
      <button mat-button routerLink="./CareerDetails" >Career Details </button>
      <button mat-button routerLink="./familydetails"  >Family Details </button>
      <button mat-button routerLink="./personalDetails"  >Personal Details</button>
      <button mat-button routerLink="./Educationdetails"  >Educational Details  </button>
      <button mat-button routerLink="./LifestyleDetails"  >LifestyleDetails </button>
      <button mat-button routerLink="./astroandreligion"  > Astro and Religion</button>
      <button mat-button routerLink="./feedbackDetails"  > FeedBack</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
</div>
<router-outlet></router-outlet>
<footer class="md-padding sm-padding lg-padding" >
  <div id="btmFooter" flex>
    <p>@2020 Copyright: Assimilate Technology.</p>
  </div>
</footer>  -->
