
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="assets/Images/rishtalogo.png"></a>
      </div>
      <div class="nav navbar-nav">
  
        <mat-toolbar-row>
       
      <button mat-menu-item routerLink="./register"  >Register Free</button>
      <button mat-menu-item routerLink="./profiledetails"  >Profile Details </button>
      <button mat-menu-item  routerLink="./CareerDetails" >Career Details </button>
      <button mat-menu-item  routerLink="./familydetails"  >Family Details </button>
      <button mat-menu-item routerLink="./personalDetails"  >Personal Details</button>
      <button mat-menu-item routerLink="./Educationdetails"  >Educational Details  </button>
      <button mat-menu-item routerLink="./LifestyleDetails"  >Lifestyle Details </button>
      <button mat-menu-item routerLink="./astroandreligion"  > Astro and Religion</button>
      <button mat-menu-item routerLink="./feedbackDetails"  > FeedBack</button>
      <button mat-menu-item routerLink="./filters"> Filters</button>
     </mat-toolbar-row>
  
 </div>
 </div>
 </nav>
 

 
 
<router-outlet></router-outlet>
 
