<a routerLink="/">
    <a data-toggle="modal" href="#myModal1"  >Register  </a>   
</a>
<a routerLink="/profiledetails"> 
    <a data-toggle="modal" href="#myModal3"  > Profile Details </a> 
</a>

<a routerLink="/CareerDetails"> 
    <a data-toggle="modal" href="#myModal4"  > Career Details </a> 
 </a>

 
<a routerLink="/familydetails"> 
    <a data-toggle="modal" href="#myModal5"  > Family Details </a>   
 </a> 
 <a routerLink="/personalDetails"> 
    <a data-toggle="modal" href="#myModal6"  > Personal Details </a>     
</a>
<a routerLink="/Educationdetails"> 
    <a data-toggle="modal" href="#myModal8"  > Education Details </a>     
</a>


<a routerLink="/LifestyleDetails"> 
    <a data-toggle="modal" href="#myModal7"  > Lifestyle Details </a>     
</a>
 
<a routerLink="/astroandreligion"> 
    <a data-toggle="modal" href="#myModal2">Astro and Religion  </a> 
</a>
<ngx-spinner></ngx-spinner>
<router-outlet></router-outlet>
