
<!-- <register-comp></register-comp> -->
<!-- <contact-comp></contact-comp> -->
<!-- <a routerLink="/"><button class="btn btn-default">Contact</button> </a>
<a routerLink="/register">
    <button data-toggle="modal" data-target="#myModal" class="btn btn-default"> Register</button> 
</a>
<a routerLink="/changepassword">change password</a> -->
<!-- <layout-comp></layout-comp>
<router-outlet></router-outlet> -->
<layout-comp></layout-comp>
<!-- <a routerLink="/">
    <a data-toggle="modal" href="#myModal1"  >Register  </a>   
</a>
<a routerLink="/profiledetails"> 
    <a data-toggle="modal" href="#myModal3"  > Profile Details </a> 
</a>

<a routerLink="/CareerDetails"> 
    <a data-toggle="modal" href="#myModal4"  > Career Details </a> 
 </a>

 
<a routerLink="/familydetails"> 
    <a data-toggle="modal" href="#myModal5"  > Family Details </a>   
 </a> 
 <a routerLink="/personalDetails"> 
    <a data-toggle="modal" href="#myModal6"  > Personal Details </a>     
</a>
<a routerLink="/LifestyleDetails"> 
    <a data-toggle="modal" href="#myModal7"  > Lifestyle Details </a>     
</a>
 
<a routerLink="/astroandreligion"> 
    <a data-toggle="modal" href="#myModal2">Astro and Religion  </a> 
</a>
<ngx-spinner></ngx-spinner>
<router-outlet></router-outlet> -->
