<!-- <register-comp></register-comp> -->
<!-- <contact-comp></contact-comp> -->

<a routerLink="/">
    <button data-toggle="modal" data-target="#myModal" class="btn btn-default"> Register</button> 
</a>
<a routerLink="/astroandreligion"><button class="btn btn-default" data-toggle="modal" data-target="#myModal">Astro and Religion</button> </a>
<!-- <a routerLink="/profiledetails" class="btn btn-default"  data-toggle="modal1" data-target="#myModal11">Profile Details
</a> -->
<a routerLink="/profiledetails"><button class="btn btn-default" data-toggle="modal" data-target="#myModal1">Profile Details</button> </a>
<router-outlet></router-outlet>
