<form style="margin-left: 100px;">
<div *ngFor="let info of myDetail?.profile"> 
<div class="row">
    <div class="col-md-3" >
      <img src="{{info.avatar}}"  style="height: 180px;width: 230px;">
      <br><b>
      Name:{{info.name}}<br>
      Age:{{info.age}}<br>
      Religion:{{info.religion}}<br>
      Mother Tongue:{{info.mothertongue}}<br>
      City:{{info.city}}<br>
      Marital status:{{info.status}}</b>
      </div>
      <div class="col-md-3" >
        <img src="{{info.avatar}}"  style="height: 180px;width: 230px;"><br><b>
        Name:{{info.name}}<br>
        Age:{{info.age}}<br>
        Religion:{{info.religion}}<br>
        Mother Tongue:{{info.mothertongue}}<br>
        City:{{info.city}}<br>
        Marital status:{{info.status}}</b>
        </div>
        <div class="col-md-3">
          <img src="{{info.avatar}}"  style="height: 180px;width: 230px;"><br><b>
          Name:{{info.name}}<br>
          Age:{{info.age}}<br>
          Religion:{{info.religion}}<br>
          Mother Tongue:{{info.mothertongue}}<br>
          City:{{info.city}}<br>
          Marital status:{{info.status}}</b>
          </div>


  </div>
  <br>

</div>
<form>

      