
<form class="example" action="/action_page.php" style="margin:auto;max-width:300px; margin-top: 20px;">
  <input type="text" placeholder="Search by Name,Id,etc..." autocomplete="off" name="search" [(ngModel)]="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

<div class="container" style="padding: 50px;">
  <table class="table border border-dark"
    style="padding: 20px;background-image: url('assets/Images/indian-bride.jpg');color: white;">
    <thead class="thead-dark">
      <tr style="padding: 20px;text-align: center;">
        <th>ID</th>
        <th>Photo</th>
        <th>Details</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let info of myDetail?.profile|filter:search">
        <td>{{info.id}}</td>
        <td style="text-align: center;"><img src="{{info.avatar}}" style="height: 180px;width: 230px;"></td>
        <td style="font-size: 20px;"><b> Name:</b>{{info.name}}<br>
          <b>Age:</b>{{info.age}}<br>
          <b> Religion:</b>{{info.religion}}<br>
          <b> Mother Tongue:</b>{{info.mothertongue}}<br>
          <b> City:</b>{{info.city}}<br>
          <b> Marital status:</b>{{info.status}}</td>
        <td style="text-align: center;"><button type="button" class="btn btn-primary"
            style="margin-right: 10px;">View</button>
          <button type="button" class="btn btn-primary" style="margin-right: 10px;">Edit</button>
          <button type="button" class="btn btn-primary">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>