





<div class="container">
    <tr>
<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
  </tr><tr>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
  </tr>
  <tr>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label></tr>
  <tr>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label></tr></div>
<!-- <div class="container">
    <h1>manage strict filter</h1> -->
    <!-- <div class="row">
        <label class="switch">age</label>
        <input type="checkbox">
        <span class="slider round"></span>
    </div>
    <div class="row">
        <label class="switch">marital status</label>
        <input type="checkbox">
        <span class="slider round"></span>
    </div>
    <div class="row">
        <label class="switch">country</label>
        <input type="checkbox">
        <span class="slider round"></span>
    </div>
    <div class="row">
        <label class="switch">state/city</label>
        <input type="checkbox">
        <span class="slider round"></span>
    </div>
    <div class="row">
        <label class="switch">religion</label>
        <input type="checkbox">
        <span class="slider round"></span>
    </div>
    <div class="row">
        <label class="switch">mother tongue</label>
        <input type="checkbox">
        <span class="slider round"></span>
    </div> -->
    <!-- <div class="row">
        <label class="switch">income</label>
        <input type="checkbox">
        <span class="slider round"></span>
    </div>


</div> -->


  