<!-- <h1>{{title}}</h1> -->
<!-- {{AstroreligionDetails.value|json}} -->
<mat-card class="example-card">
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Astro And Religion Form</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="AstroreligionDetails" novalidate class="form">
            <div class="example-container">
                <div>
                    <mat-form-field>
                        <mat-label>Marital Status</mat-label>
                        <mat-select formControlName="maritalstatus">
                            <mat-option>SELECT</mat-option>
                            <mat-option value="1">Married</mat-option>
                            <mat-option value="2">UnMarried</mat-option>
                            <mat-option value="3">Widow</mat-option>
                            <mat-option value="4">divorced</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <mat-error
                            *ngIf="AstroreligionDetails.controls['maritalstatus'].hasError('required')&&
                (AstroreligionDetails.controls.maritalstatus.touched ||AstroreligionDetails.controls['maritalstatus'].dirty|| isSubmitted)">
                            Marital Status is required.
                        </mat-error>
                    </div>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Mother tongue</mat-label>
                        <mat-select formControlName="mothertongue">
                            <mat-option>SELECT</mat-option>
                            <mat-option value="1">Hindi</mat-option>
                            <mat-option value="2">English</mat-option>
                            <mat-option value="3">Bengali</mat-option>
                            <mat-option value="4">Marathi</mat-option>
                            <mat-option value="5">Telugu</mat-option>
                            <mat-option value="6">Tamil</mat-option>
                            <mat-option value="7">Gujarati</mat-option>
                            <mat-option value="8">Urdu</mat-option>
                            <mat-option value="9">Odia</mat-option>
                            <mat-option value="10">Malayalam</mat-option>
                            <mat-option value="11">Punjabi</mat-option>
                            <mat-option value="12">Sanskrit</mat-option>
                            <mat-option value="13">Other</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <mat-error
                            *ngIf=" AstroreligionDetails.controls['mothertongue'].hasError('required')&&
                (AstroreligionDetails.controls.mothertongue.touched ||AstroreligionDetails.controls['mothertongue'].dirty || isSubmitted)">
                            mothertongue is required.
                        </mat-error>
                    </div>

                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Religion</mat-label>
                        <mat-select formControlName="religion">
                            <mat-option>SELECT</mat-option>
                            <mat-option value="1">Hinduism</mat-option>
                            <mat-option value="2">Islam</mat-option>
                            <mat-option value="3">Christianity</mat-option>
                            <mat-option value="4">Sikhism</mat-option>
                            <mat-option value="5">Buddhism</mat-option>
                            <mat-option value="6">Jainism</mat-option>
                            <mat-option value="7">Others/Religion not specified</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <mat-error
                            *ngIf=" AstroreligionDetails.controls['religion'].hasError('required')&&
                (AstroreligionDetails.controls.religion.touched ||AstroreligionDetails.controls['religion'].dirty|| isSubmitted)">
                            Religion is required.
                        </mat-error>
                    </div>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Caste</mat-label>
                        <mat-select formControlName="caste">
                            <mat-option>SELECT</mat-option>
                            <mat-option value="1">Scs</mat-option>
                            <mat-option value="2">STs</mat-option>
                            <mat-option value="3">OBSs</mat-option>
                            <mat-option value="4">Sikhism</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <mat-error
                            *ngIf=" AstroreligionDetails.controls['caste'].hasError('required')&&
                (AstroreligionDetails.controls.caste.touched ||AstroreligionDetails.controls['caste'].dirty|| isSubmitted)">
                            Caste is required.
                        </mat-error>
                    </div>

                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Sub_Caste</mat-label>
                        <mat-select formControlName="subcaste">
                            <mat-option>SELECT</mat-option>
                            <mat-option value="1">Adaviyar</mat-option>
                            <mat-option value="2">Agri (caste) </mat-option>
                            <mat-option value="3">Ahir</mat-option>
                            <mat-option value="4">Ahirwar </mat-option>
                            <mat-option value="5">Ahluwalia (caste)</mat-option>
                            <mat-option value="6">Anjana Chaudhari </mat-option>
                            <mat-option value="7">Arora</mat-option>
                            <mat-option value="8">Other </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <mat-error *ngIf=" AstroreligionDetails.controls['subcaste'].hasError('required')&&
    (AstroreligionDetails.controls.subcaste.touched ||AstroreligionDetails.controls['subcaste'].dirty|| isSubmitted)">
                            SubCaste In required.
                        </mat-error>
                    </div>

                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Devak</mat-label>
                        <mat-select formControlName="devak">
                            <mat-option>SELECT</mat-option>
                            <mat-option value="1">Yes</mat-option>
                            <mat-option value="2">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <mat-error
                            *ngIf=" AstroreligionDetails.controls['devak'].hasError('required')&&
             (AstroreligionDetails.controls.devak.touched ||AstroreligionDetails.controls['devak'].dirty|| isSubmitted)">
                            Devak is required.
                        </mat-error>
                    </div>

                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Gotra</mat-label>
                        <mat-select formControlName="gotra">
                            <mat-option>SELECT</mat-option>
                            <mat-option value="1">Andhra Brahmins</mat-option>
                            <mat-option value="2">Chitpavana Brahmins</mat-option>
                            <mat-option value="3">Daivajna Brahmins</mat-option>
                            <mat-option value="4">Deshastha Brahmins</mat-option>
                            <mat-option value="4">Other</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <mat-error
                            *ngIf=" AstroreligionDetails.controls['gotra'].hasError('required')&&
             (AstroreligionDetails.controls.gotra.touched ||AstroreligionDetails.controls['gotra'].dirty|| isSubmitted)">
                            Devak is required.
                        </mat-error>
                    </div>

                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Horoscope</mat-label>
                        <mat-select formControlName="horoscope">
                            <mat-option>SELECT</mat-option>
                            <mat-option value="1">Aries</mat-option>
                            <mat-option value="2">Taurus </mat-option>
                            <mat-option value="3">Gemini</mat-option>
                            <mat-option value="4">Cancer </mat-option>
                            <mat-option value="5">Leo</mat-option>
                            <mat-option value="6">Vigro</mat-option>
                            <mat-option value="7">Libra</mat-option>
                            <mat-option value="8">Scorpio </mat-option>
                            <mat-option value="9">Other </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <mat-error
                            *ngIf=" AstroreligionDetails.controls['horoscope'].hasError('required')&&
             (AstroreligionDetails.controls.horoscope.touched ||AstroreligionDetails.controls['horoscope'].dirty|| isSubmitted)">
                            Horoscope is required.
                        </mat-error>
                    </div>

                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Nakshtra</mat-label>
                        <mat-select formControlName="nakshtra">
                            <mat-option>SELECT</mat-option>
                            <mat-option value="1">Ashvini</mat-option>
                            <mat-option value="2">Bharani </mat-option>
                            <mat-option value="3">Krittika</mat-option>
                            <mat-option value="5">Rohini </mat-option>
                            <mat-option value="6">Mrigashīrsha</mat-option>
                            <mat-option value="7">Ardrao </mat-option>
                            <mat-option value="8">Pushya</mat-option>
                            <mat-option value="9">Āshleshā </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <mat-error
                            *ngIf=" AstroreligionDetails.controls['nakshtra'].hasError('required')&&
             (AstroreligionDetails.controls.nakshtra.touched ||AstroreligionDetails.controls['nakshtra'].dirty|| isSubmitted)">
                            Nakshtra is required.
                        </mat-error>

                    </div>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Manglik</mat-label>
                        <mat-select formControlName="manglik">
                            <mat-option>SELECT</mat-option>
                            <mat-option value="1">Yes</mat-option>
                            <mat-option value="2">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <mat-error
                            *ngIf=" AstroreligionDetails.controls['manglik'].hasError('required')&&
             (AstroreligionDetails.controls.manglik.touched ||AstroreligionDetails.controls['manglik'].dirty|| isSubmitted)">
                            Gotra is required.
                        </mat-error>
                    </div>

                </div>
                <div>
                    <button mat-raised-button color="primary"
                        (click)="onSubmit(AstroreligionDetails.value)">SUBMIT</button>
                    <button class="button" mat-raised-button color="warn">Cancel</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>