<mat-toolbar color="warn">
  <mat-toolbar-row>
    <div> <a><img src="assets/Images/rishtalogo.png"></a></div>
    <div class="right">
      <button mat-button [matMenuTriggerFor]="menu1">Admin</button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item (click)="SignOut()">SignOut</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div>
      <button mat-button [matMenuTriggerFor]="menu">Dashboard</button>
      <mat-menu #menu="matMenu">
        <a routerLink="./grooms"><button mat-menu-item>Grooms</button></a>
        <a routerLink="./brides"><button mat-menu-item>Brides</button></a>
      </mat-menu>
      <a mat-button > Matching </a>
      <a mat-button > Packages </a>
      <a mat-button > Payment </a>
      <a mat-button > User </a>
    
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>



<!-- <footer class="md-padding" >
  <div id="btmFooter" flex>
    <p>@2020 Copyright: Assimilate Technology.</p>
  </div>
</footer> -->