// .navbar{
//     justify-content: space-between;
// }
img{
    height: 60px;
}

// .span {
//     padding-right: 1rem;
// }
.right
{
margin-left: 1100px;

}


#btmFooter {
    align-self: flex-end;
  }

  footer {
    background-color: #f44336;
    border: 2px solid rgb(46, 5, 5);
    text-align: center;
    padding: 10px;
    color: beige;
  }