<mat-toolbar color="warn">
  <mat-toolbar-row>
    <div> <a><img src="assets/Images/rishtalogo.png"></a></div>
    <div class="right">
      <button mat-button [matMenuTriggerFor]="menu1">Admin</button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item (click)="SignOut()">SignOut</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div>
      <button mat-button [matMenuTriggerFor]="menu">Dashboard</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Grooms</button>
        <button mat-menu-item>Brides</button>
      </mat-menu>
      <a mat-button > Matching </a>
      <a mat-button > Packages </a>
      <a mat-button > Payment </a>
      <a mat-button > User </a>
    
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->




<footer class="md-padding fixed-bottom" >
  <div id="btmFooter" flex>
    <p>@2020 Copyright: Assimilate Technology.</p>
  </div>
</footer>