
  .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #343a40;
    color: white;
}
// @media (min-width: 576px)
.jumbotron {
    padding: 10px;
    color: white;
    margin-bottom: 0;
}
.navbar {
  // margin-bottom: 0;
  // border-radius: 0;
  margin-bottom: 50px;
  border-radius: 0;
  background-color: #151616;
  color: white;
}

.dropdown{
  color: white;
}
// .row.content {height: 450px}

// @media screen and (max-width: 767px) {
  
//   .row.content {height:auto;} 
// }