
  .full-width-table {
    width: auto;
    color: white;
    table-layout: auto;
    border-color: white; 
    /* padding: 150px 150px 15px 15px; */
    margin-top: 20px;
    background-image: url('src/assets/Images/indian-bride.jpg');
    
  }
  .mat-cell{
    color: white;
    font-size: medium;
    padding: 15px 15px 15px 15px;
    
  }
  .mat-flat-button
  {
    margin-left: 15px;
  }
  /* .mat-header-cell
  {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: 200px;
    font-size: 25px;
    /* color:rgb(144, 248, 231); */
    /* color: white;
    text-align: center; */

    /* margin-left: 20px; */
  /* } */ 
 
  .label
  {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color:rgb(182, 248, 234);
  }
  
  /* .app-data-table{
  
    width:80%;
    margin:20px auto;
    color: white;
  }
  */
  .Detail
  {
    margin-left: 20px;
  }

  td.mat-cell {
    padding: 15px 15px 15px 15px   ;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
   }
   th.mat-header-cell
   {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
   }
   
 
   

  