
<h1 mat-dialog-title>Hi {{data.name}} </h1>
<div mat-dialog-content>zdtrsfgx
  rxusgvhbsruhdfv  rxusgvhbsruhdfvyhjgfdghfdfghhgfdfghhgfdfg
  ser  rxusgvhbsruhdfv
  bxfy4edwerthygtfsedfgfdsdfyhjgfdghfdfghhgfdfghhgfdfg
  ser  rxusgvhbsruhdfv
  bxfy4edwerthygtfsedfgfdsdfyhjgfdghfdfghhgfdfghhgfdfg
  ser  rxusgvhbsruhdfv
  bxfy4edwerthygtfsedfgfdsdfyhjgfdghfdfghhgfdfghhgfdfg
  ser  rxusgvhbsruhdfv
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdseyhjgfdghfdfghhgfdfghhgfdfg
  ser  rxusgvhbsruhdfv
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdse
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfgyhjgfdghfdfghhgfdfghhgfdfg
  ser  rxusgvhbsruhdfv
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdse
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfgyhjgfdghfdfghhgfdfghhgfdfg
  ser  rxusgvhbsruhdfv
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdse
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  bxfy4edwerthygtfsedfgfdsdf
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  bxfy4edwerthygtfsedfgfdsdf
  ser
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  bxfy4edwerthygtfsedfgfdsdf
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdse
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdse
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdse
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  bxfy4edwerthygtfsedfgfdsdf
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdse  rxusgvhbsruhdfv
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdse
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser  rxusgvhbsruhdfv
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdse
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser  rxusgvhbsruhdfv
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdse
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdse
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg  rxusgvhbsruhdfv
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdse
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  rxusgvhbsruhdfv
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdse
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  rxusgvhbsruhdfv
  bxfy4edwerthygtfsedfgfdsdf
  dtw46yhgaehgfdse
  eryhgfdsadfgbggfdsf
  eryhgdfdhjfg
  yhjgfdghfdfghhgfdfghhgfdfg
  ser
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animalhcgdtwsgxcgzatgz
     
    </mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>