<h1>{{title}}</h1>
<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal5" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Family Details</h4>
                </div>
                <div class="modal-body">
                    <!-- <p>Some text in the modal.</p> -->



                    <div class="container">

                        <form [formGroup]="FamilyDetailsModel" novalidate>
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-3">
                                        <label>Family Type:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" formControlName="familytype">
                                            <option value="">SELECT</option>
                                            <option>Joint Family</option>
                                            <option>Nuclear Family</option>
                                            <option>Others</option>
                                        </select>
                                        <span
                                            *ngIf="FamilyDetailsModel.get('familytype').hasError('required') &&
                                            (FamilyDetailsModel.get('familytype').touched || FamilyDetailsModel.get('familytype').dirty|| isSubmitted)"
                                            class="text-danger" padding>
                                            Family Type Required.</span>
                                    </div>

                                </div>
                            </div>


                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-3">
                                        <label>Father's Occupations:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" formControlName="fatherocc">
                                            <option value="">SELECT</option>
                                            <option>Business</option>
                                            <option>Service-Govt</option>
                                            <option>Retired</option>
                                            <option>Not Employed</option>
                                            <option>Expired</option>
                                        </select>
                                        <span
                                            *ngIf="FamilyDetailsModel.get('fatherocc').hasError('required') &&
                                            (FamilyDetailsModel.get('fatherocc').touched || FamilyDetailsModel.get('fatherocc').dirty|| isSubmitted)"
                                            class="text-danger" padding>
                                            Father Occupations Required.</span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-3">
                                        <label>Mather's Occupations:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" formControlName="motherocc">
                                            <option value="">SELECT</option>
                                            <option>HouseWife</option>
                                            <option>Business</option>
                                            <option>Service-Govt</option>
                                            <option>Retired</option>
                                            <option>Not Employed</option>
                                            <option>Expired</option>
                                        </select>
                                        <span
                                            *ngIf="FamilyDetailsModel.get('motherocc').hasError('required') &&
                                            (FamilyDetailsModel.get('motherocc').touched || FamilyDetailsModel.get('motherocc').dirty|| isSubmitted)"
                                            class="text-danger" padding>
                                            Mother Occupations Required.</span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-3">
                                        <label>Brother:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" formControlName="brother">
                                            <option value="">SELECT</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5/option>
                                        </select>
                                        <span
                                            *ngIf="FamilyDetailsModel.get('brother').hasError('required') &&
                                            (FamilyDetailsModel.get('brother').touched || FamilyDetailsModel.get('brother').dirty|| isSubmitted)"
                                            class="text-danger" padding>
                                            How Many Brothers Required.</span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-3">
                                        <label>Sister:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" formControlName="sister">
                                            <option value="">SELECT</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5/option>
                                        </select>
                                        <span
                                            *ngIf="FamilyDetailsModel.get('sister').hasError('required') &&
                                            (FamilyDetailsModel.get('sister').touched || FamilyDetailsModel.get('sister').dirty|| isSubmitted)"
                                            class="text-danger" padding>
                                            How Many Sisters Required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-3">
                                        <label>Family livin In:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" formControlName="livingstate">
                                            <option value="">SELECT</option>
                                            <option>Maharashtra</option>
                                            <option>Goa</option>
                                            <option>Karanataka</option>
                                            <option>Gujrat</option>
                                            <option>TamilNadu</option>
                                        </select>
                                        <span
                                            *ngIf="FamilyDetailsModel.get('livingstate').hasError('required') &&
                                            (FamilyDetailsModel.get('livingstate').touched || FamilyDetailsModel.get('livingstate').dirty|| isSubmitted)"
                                            class="text-danger" padding>
                                            Family Living State Required.</span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-3">
                                        <label>City:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" formControlName="livingcity">
                                            <option value="">SELECT</option>
                                            <option>Pune</option>
                                            <option>Banglore</option>
                                            <option>Mumbai</option>
                                            <option>Hydrabad</option>
                                            <option>Nashik</option>
                                        </select>
                                        <span
                                            *ngIf="FamilyDetailsModel.get('livingcity').hasError('required') &&
                                            (FamilyDetailsModel.get('livingcity').touched || FamilyDetailsModel.get('livingcity').dirty|| isSubmitted)"
                                            class="text-danger" padding>
                                            Family Living  Required.</span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-3">
                                        <label>Contact Address :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="Enter the Address"
                                            formControlName="address">
                                        <span
                                            *ngIf="FamilyDetailsModel.get('address').hasError('required') &&
                                            (FamilyDetailsModel.get('address').touched || FamilyDetailsModel.get('address').dirty|| isSubmitted)"
                                            class="text-danger" padding>
                                            Address Required.</span>
                                    </div>

                                </div>
                            </div>


                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-3">
                                        <label>About My Family:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text-area" class="form-control"
                                            placeholder="Write about your parents and brothers or sisters.where do they live? what are they doing?"
                                            formControlName="aboutfamily">

                                        <span
                                            *ngIf="FamilyDetailsModel.get('aboutfamily').hasError('required') &&
                                            (FamilyDetailsModel.get('aboutfamily').touched || FamilyDetailsModel.get('aboutfamily').dirty|| isSubmitted)"
                                            class="text-danger" padding>
                                            About Family Required </span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"
                                        (click)="onSubmit(FamilyDetailsModel.value)">Submit</button>
                                    <button type="submit" class="btn btn-secondary" style="margin-left: 20px;"
                                        data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>