.title{
    padding-bottom: 10px;
    text-align: center;
}
.tilefix{
  position: absolute;
  width: 60%;
  height: 50%; 
  text-align: center;
  margin-left: 20%;
}
 .mat-form-field-wrapper{
    width: 600px !important;   
     
}
.mat-form-field{
    width:100%;
}
.example-container
{
    max-width: 300px;
    margin-left: 50px;
    margin-bottom: 55px;
}
.button
{
    margin-top: 8px;
    margin-left: 10px;
}
.form
{   
    text-align: center;
    height:80%;
}