
 
.example-card {
  max-width: 450px;
  margin: 0px auto;
  height: auto;
  margin-top:20px ;
   
}

.mat-form-field-wrapper{
  width: 600px !important;
  
   
}
 
.mat-card-header .mat-card-tiltle {
font-size: 25px;
font-family: "Arial Black", Gadget, sans-serif; 
color: navy;
}

.example-container
{
    max-width: 300px;
    margin-left: 50px;
    margin-bottom: 55px;
}
.button
{
    margin-left: 10px;
}
.form
{
    text-align: center;
}

  
  
  