/* h1,p{

    text-align: center;
    padding-bottom: 3%;

}
 Set a grey background color and center the text of the "sign in" section 
.signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  .modal-header{

    text-align: left;

  } */


/* .buttonSubmit{

  margin: 3rem;

} */
  .example-container {
    display: flex;
    flex-direction: column;
  }
  .full-width {
    width: 100%;
  }
  
  .example-container > * {
    width: 100%;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
