    <h1>{{title}}</h1>

    {{RegisterModel.value|json}}



    <div class="container">
        <form [formGroup]="RegisterModel" novalidate>
            <div class="example-container">
            
                <mat-form-field class="full-width">
                    <mat-label>UserName:</mat-label>
                    <input formControlName="username" matInput placeholder="Enter User Name" class="form-control"
                    required>
                    <mat-error *ngIf="isSubmited &&  RegisterModel.controls['UserName'].hasError('required')">
                        ** UserName is Required **
                    </mat-error> 
                </mat-form-field>            
            </div>
        </form>
        
    </div>